* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 20px;
  background-color: #f3f3a7;
  color: #212121;
  line-height: 1.5;
  margin-top: 0;
  text-align: center;
}

p {
  margin: 0px;
}

img {
  display: block;
  object-fit: cover;
  cursor: pointer;
}

input {
  display: block;
  width: 300px;
  height: 35px;
  font-size: large;
  padding-left: 10px;

  border-radius: 5px;
  box-shadow: 0 10px 10px -5px black;
  border-color: white;
}

input:focus,
input:hover {
  border: 2px solid black;
  outline: none;
}

.sticky-form {
  position: fixed;
  z-index: 99;
  left: 0px;
  width: 100%;
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  gap: 5px;

  background-color: rgb(0, 140, 255);
}

.button {
  border-radius: 5px;
  cursor: pointer;
  border-color: rgb(0, 140, 255);
  color: black;
  background-color:aqua; 

  font-size: large;
  outline: none;
  box-shadow: 0 10px 10px -5px black;
  cursor: pointer;
}

.btn-up {
  position: relative;
  bottom: 47px;
  left: 220px;
  z-index: 100;
  border-radius: 5px;
  cursor: pointer;
  border-color: rgb(0, 140, 255);
  color: black;
  background-color: aqua;
  
  font-size: large;
  outline: none;
  box-shadow: 0 10px 10px -5px black;
  cursor: pointer;
  }

.button:hover {
  border: 2px solid black;
  outline: none;
  color: rgb(0, 140, 255);
  background-color:#f3f3a7;
}

.btn-up:hover {
  border: 2px solid black;
  outline: none;
  color: rgb(0, 140, 255);
  background-color: #f3f3a7;
}
.btn-up {
margin-left: 20px;
}

.gallery {
  width: 1280px;
  margin: 0 auto;
  padding: 100px 13px 20px 13px;
  display: flex;
  justify-content: space-between;
  row-gap: 20px;
  flex-wrap: wrap;
}

.photo-card {
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:is(:hover, :focus-within) {
  transform: scale(1.05);
}

.gallery-img {
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 10px 4px;
  margin: 0px;
  width: 100%;
  height: 60px;
  font-size: 15px;
  cursor: pointer;
}

.load-more {
  height: 50px;
  width: 150px;
  margin-bottom: 150px;
  padding: 10px 15px;
  background-color: rgb(0, 140, 255);
  color: white;

  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.load-more:hover {
  border: 2px solid black;
  outline: none;
  color: black;
  background-color: aqua;
}

.is-hidden {
  display: none;
}
